In [1]:
# 1. Print numbers from 1 to 10 using a while loop. 
i = 1
while i <= 10:
    print(i, end=' ')
    i += 1
print("\n")

1 2 3 4 5 6 7 8 9 10

In [2]:
# 2. Print all even numbers between 1 and 20 using a while loop. 
i=2
while i <=20 :
    print(i,end=" ")
    i+=2
print("\n")

2 4 6 8 10 12 14 16 18 20

In [4]:
# 3. Find the sum of numbers from 1 to 50 using a while loop. 
i = 1
total = 0
while i <= 50:
    total += i
    i += 1
print("Sum is:", total)

Sum is: 1275

In [5]:
# 4. Print the multiplication table of 5 using a while loop. 
i = 1
while i <= 10:
    print(f"5 x {i} = {5 * i}")
    i += 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [6]:
# 5. Reverse a given string using a while loop.  
a="jay"
res=""
index=len(a)-1
while index >= 0:
    res+=a[index]
    index-=1
print(res)

yaj

In [7]:
# 6. Print the first 10 natural numbers using a for loop and range().  
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [8]:
# 7. Print all odd numbers from 1 to 15 using a for loop and range(). 
for i in range(1,16,2):
    print(i)
print("\n")

1
3
5
7
9
11
13
15

In [10]:
# 8. Calculate the factorial of a number using a for loop and range().
num = 5
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print(f"Factorial of {num} is {factorial}")
print("\n")

Factorial of 5 is 120

In [11]:
# 9. Print the square of numbers from 1 to 10 using a for loop and range(). 
for i in range(1, 11):
    print(f"{i}^2 = {i * i}")
print("\n")

1^2 = 1
2^2 = 4
3^2 = 9
4^2 = 16
5^2 = 25
6^2 = 36
7^2 = 49
8^2 = 64
9^2 = 81
10^2 = 100

In [12]:
# 10. Generate a list of the first 10 multiples of 3 using a for loop and range().
multiples = []
for i in range(1, 11):
    multiples.append(3 * i)
print("First 10 multiples of 3:", multiples)
print("\n")

First 10 multiples of 3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]